.health-assist-page {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 85vh;
  box-sizing: border-box;
  margin-right:10px
}
.main-content {
  border: 1px solid rgb(228, 228, 228);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.main-image {
  width: 35px;
  
}

.possible-cause {
  flex: 2;
}
.possible-cause .main-image{
  border: none;
  background-color: rgb(204, 255, 212);
  padding: 10px;
  border-radius: 50%;
}

.severity {
  flex: 2;
}
.severity .main-image{
  border: none;
  background-color: rgb(255, 230, 194);
  padding: 10px;
  border-radius: 50%;
}

.medical-advice {
  flex: 4;
}
.medical-advice .main-image{
  border: none;
  background-color: rgb(226, 229, 255);
  padding: 10px;
  border-radius: 50%;
}

.recommended-doctor {
  flex: 2;
}
.recommended-doctor .main-image{
  border: none;
  background-color: rgb(255, 234, 255);
  padding: 10px;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

li::before {
  content: "🗹";
}

.result-condition {
  background-color: rgb(255, 230, 194);
  color: rgb(191, 124, 0);
  align-self:flex-start;
  padding: 6px;
  border-radius: 10px;
}

.possible-cause li::before {
  color: green;
}

.medical-advice li::before {
  color: blue;
}

.recommended-doctor li::before {
  color: purple;
}

.doctor-image {
  width: 200px;
}

@media (max-width:1050px) {
  .health-assist-page{
    display: flex;
    flex-direction: column;
    padding-top: 750px;
  }

}

@media (max-width:400px) {
  .health-assist-page{
    margin-top: 70px;
  }
}
